{% extends "base.html" %}
{% block title %}Create Group{% endblock %}
{% block content %}
<div class="max-w-lg mx-auto bg-gray-100 p-6 rounded-lg">
<div class="flex justify-between mb-6">
    <h1 class="text-3xl font-bold">Create Group</h1>
    <a href="{% url 'group_list' %}"
    class="bg-orange-500 hover:bg-orange-700 text-white px-4 py-2 rounded">Group List</a>
</div>

<form method="post" class="space-y-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
        class="p-2 bg-teal-500 hover:bg-teal-600 py-2 rounded font-semibold">
        Create Group
    </button>
</form>
</div>
{% endblock content %}